
$header-height: 60px;
$header-height-sm: 40px;


//$first-block-height: 20px;
//$first-block-height-sm: 10px;

$color-base--black: #282828;
$color-base--blue: #43B3E0;
$color-base--pink: #EA8A95;
$color-base--white: #FAFAFA;
$color-base--black-20: lighten($color-base--black, 20);


$screens: (
    xss: 320px,
    xs: 500px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);
