.second-block {

    background: url("/images/bg.png");
    padding: 50px;
    padding-top: 70px;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        max-width: 100%;

        @include media-q(md) {
            display: flex;
            flex-direction: column;
        }

        &__grid {
            background-color: #fff;
            width: 400px;
            height: 400px;
            padding: 30px;
            padding-bottom: 80px;
            margin-left: 30px;
            box-shadow: 0px 6px 10px lighten($color-base--black, 80);

            @include media-q(md) {
                width: auto;
                height: auto;
                margin-bottom: 30px;
                margin-left: 0px;
                padding: 5px;
            }

            @include media-q(xss) {
                width: 200px;
                height: 200px;
            }

            .icon{
                font-size: 100px;
                color: $color-base--pink;
                padding-bottom: 30px;
                padding-top: 30px;

                @include media-q(xss) {
                    font-size: 50px;
                    padding: 10px 0px 0px 0px;
                }
            }

            &__h1{
                padding-bottom: 20px;
                font-weight: bold;
                font-size: 25px;

                @include media-q(xs) {
                    font-size: 20px;
                }

                @include media-q(xss) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 18px;
                }
            }

            &__paragraph {
                font-weight: lighter;
                letter-spacing: 1px;

                @include media-q(xss) {
                    padding: 0px;
                    font-size: 12px;
                }
            }
        }
    }

    &__h1{
        padding: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;

        @include media-q() {
            font-size: 35px;
        }

        @include media-q(xs) {
            font-size: 25px;
        }

        @include media-q(xss) {
            font-size: 25px;
        }
    }

    &__paragraph {
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        text-align: center;

        @include media-q(xs) {
            font-size: 18px;
            padding: 0px 0px 15px 0px;
            text-align: center;
        }

        @include media-q(xss) {
            font-size: 15px;
            padding: 0px 0px 15px 0px;
            text-align: center;
        }
    }

    &__button {

        @include media-q() {
            width: auto;
            height: auto;
            font-size: 20px;
        }

        @include media-q(xss) {
            width: auto;
            font-size: 15px;
            padding: 5px;
        }
    }

}
