*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, nav, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;        //14.0px
    color: lighten($color-base--black, 40);
}

h1 {
    font-size: 3rem;       //42.0px
    color: $color-base--black;
}

h2 { font-size: 2.25rem; }  //31.5px
h3 { font-size: 1.75rem; }  //24.5px
h4 { font-size: 1.25rem;}   //17.5px
h5 { font-size: 1rem; }     //14.0px
h6 { font-size: 0.75rem; }  //10.5px
